body {
    background: url('00408038.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height:auto;
   
}

.menu {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    height: 55px;
    width: 100%;
    background:#483D8B;
    border-radius: 5px;
    font-size: 30px;

}

label {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18pt;
    color:white;
    margin:5px;
    padding: 5px ;
    float:left;
}

.menu ul {
    margin:0px;
    font-size: 20px;
    padding:10px;
    display:block;
    float:right;

}

.menu ul li {
    list-style:none;
    display:inline-block

}

.menu ul li a {
    display:block;
    text-decoration: none;
    padding:5px;
    color:white;
}

.menu ul li a:hover {
    display:block;
    color:#9932CC;
    background:#29234c;
    box-shadow: inset 0px 0px 5px #000;
}

.menu ul li .dropdown {
    display: none;

}
.menu ul li:hover .dropdown {
    display:block;
    background:#362e6c;
    position: fixed;
    padding: 5px;

}

.menu ul li:hover .dropdown li {
    display: block;

}

.menu ul li:hover .dropdown li a {
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.menu ul li:hover .dropdown li a:hover {
    background: whitesmoke;
    box-shadow: inset 0px 0px 5px;
}
body a {
    display: inline-block;
    margin: 10px;
}

body a img {
    width: 40px; /* Adjust the size of the icons as needed */
    height: auto;
}
